.Profile_Banner {
    background-color: #222426;
    padding-bottom: 175px;
    position: relative;
}

.Profile_Banner_Title {
    color: white;
    font-size: 1.8rem;
    padding-left: 50px;
    padding-top: 40px;
}

.Profile_User {
    display: inline-block;
    margin-left: 50px;
    position: absolute;
    top: 120px;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.Profile_Text {
    margin: 0 auto;
    text-align: center;
    color: white;
    position: absolute;
    display: inline-block;
    left: 44%;
    top: 35%;
}

.Profile_Text:hover {
    color: #c8c8c8;
    cursor: pointer;
}

.Profile_Banner_Content1 {
    font-weight: bolder;
    font-size: 0.8rem;
}

.Profile_Banner_Content2 {
    font-size: 0.6rem;
}

.Profile_Banner_Content3 {
    font-size: 0.6rem;
}

.Profile_User_Face {
    margin: 0 auto;
    margin-top: 15px;
    border: 1px solid black;
    background-color: #222426;
    width: 130px;
    height: 130px;
    border-radius: 90px;
}

.Profile_User_ID {
    text-align: center;
    margin-top: 20px;
}

.Profile_User_Badge {
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    background-color: #222426;
    display: inline-block; 
}

.Profile_User_Badge:hover {
    cursor: pointer;
    color: black;
    border: 1px solid black;
    background-color: white;
    transition: 0.2s ease-in-out;
}

.Profile_Contents {
    position: relative;
    margin-top: 100px;
}

.Profile_Scores {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    left: 50px;
    top: 100px;
    padding: 15px;
    text-align: center;
}

.Profile_Score_Container {
    display: inline-block; 
    margin-top: 10px;
    width: 230px;
    height: 345px;
    text-align: center;
}

.Profile_Tier_Picture {
    border: 2px solid red;
    height: 170px;
    margin-bottom: 10px;
}

.Profile_Tier {
    border-bottom: 1px solid #e7e7e8;
    text-align: center;
    height: 220px;
    margin-bottom: 30px;
}

.Profile_Total {
    text-align: center;
    display: inline-block;
    height: 95px;
    width: 114px;
    border-right: 1px solid #e7e7e8;
    padding-top: 20px;
}

.Profile_Avg {
    text-align: center;
    display: inline-block;
    height: 95px;
    width: 114px;
    padding-top: 20px;
}

.Profile_Chart {
    padding: 15px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 670px;
    height: 580px;
    left: 370px;
    top: -80px;
}

.Type_Score {
    color: #a2a3a7;
    font-size: 0.8rem;
    margin-top: 10px;
}

.Real_Chart {
    margin-top: 20px;
    margin-left: 16px;
    border: 2px solid red;
    width: 95%;
    height: 80%;
}