
.header {
    padding: 10px; /* some padding */
    text-align: center; /* center the text */
    background: #A12003; /* green background */
    color: white; /* white text color */
  }
  
  /* Increase the font size of the <h1> element */
.header h1 {
    font-size: 32px;
}

/* Style the top navigation bar */
.navbar {
    width: 100%;
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */
}


.LEFT {
  position: absolute;
  left: calc(0%);
}

/* Style the navigation bar links */
.navbar button {
    background-color: #333;
    outline: none;
    cursor: pointer;
    border: none; 
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 12px 16px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

.navbar a {
    float: left; 
    display: flex;
    color: white; /* White text color */
    text-align: center;
    padding: 12px 16px;
    text-decoration: none; /* Remove underline */
}
  
  /* Right-aligned link */
  .navbar button.right {
    float: right; /* Float a link to the right */
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover, button:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
    transition: 0.5s ease-in-out;
    outline: none;
  }

  /* Active/current link */
.navbar button.active a.active {
    background-color: #666;
    color: white;
  }