

/* Style the top navigation bar */
.navbar {
    width: 100%;
    overflow: hidden; /* Hide overflow */
    background-color:rgb(105, 104, 102);
    
}


.LEFT {
  font-size: x-large;
}

/* Style the navigation bar links */
.navbar button {
    background-color: rgb(105, 104, 102);
    outline: none;
    cursor: pointer;
    border: none; 
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1rem;
}

.navbar a {
    float: left; 
    display: flex;
    color: white; /* White text color */
    text-align: center;
    padding-top: 5px;
    text-decoration: none; /* Remove underline */
}


  /* Right-aligned link */
  .RIGHT {
    /* position: absolute;
    right : calc(0%); */
    display: flex;
    float: right;
  }
  
  /* Change color on hover/mouse-over */
  .navbar button:hover {
    /* background-color: white;  */
    /* color: blue;  */
    /* transition: 0.5s ease-in-out; */
    outline: none;
  }

  /* Active/current link */
.navbar button.active a.active {
    background-color: #666;
    color: white;
  }