.rooms {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    /*grid-template-rows: 200px;*/
    gap: 5px;
    padding: 30x;
    padding-top: 50px;
    width: 100%;
}
.rooms .room:hover {
    animation: 1s infinite roomHover;
}

@keyframes roomHover {
    0% {
        transform: (1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: (1, 1);
    }
}

.rooms .room a {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
}