
.PersonIcon {
  color: #F55364;
  font-size: 2rem;
  background-color: #f5f5f5;
  width: 190px;
  height: 190px;
  padding: 30px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.RealText {
  color: #606367;
  font-size: 1.5rem;
}

.Explain {
  color:#a2a3a7;
  padding-bottom: 20px;
}

.study_button {
  margin-top: 55px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.List {
  background-color: white;
  border-radius: 10px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-right: 24px;
}

.Text {
  margin-bottom: 30px;
  margin: 30px;
}

.Button {
  font-size: 1rem;
  text-decoration: none;
  margin-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #F55364;
  color: white;
  border:none;
  border-radius: 8px;
  cursor: pointer;
}

.Button:hover{
  transition: 0.5s ease-in-out;
  border: 1px solid #F55364;
  color: #F55364;
  background-color: white;
}