.dashboard-navbar{
    text-align: center;
    position: fixed;
    width: 270px;
    height: 100%;
    background-color: white;
    color: black;
    font-size: 1.7rem;
}

li {
    list-style-type: none;
    padding: 15px;
    cursor: pointer;
}

li:hover {
    border-right: solid 2px #0984e3;
    transition: 0.2s ease-in-out;
    font-size: 1.9rem;
}

a {
    color: black;
    text-decoration: none;
}

.ReactIcon {
    padding-top: 5px;
}