.Dashboard-Home-Text {
    font-size: 3rem;
    margin-top: 170px;
}

p {
    margin: 0px;
}

.Dashboard-Home-Button{
    cursor: pointer;
    font-size: 2rem;
    margin-top: 120px;
    margin-left: 10px;
}

.Dashboard-Home-Button:hover{
    font-size: 2.2rem;
    transition: 0.2s ease-in-out;
}